* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  width: 100%;
}

body {
  margin-bottom: 4rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(42, 0, 75, 1) 100%,
    rgba(68, 68, 68, 1) 100%,
    rgba(255, 255, 255, 1) 100%,
    rgba(4, 4, 60, 1) 100%,
    rgba(9, 9, 121, 0) 100%
  );
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
